body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

#calculator{

    height: auto;
    width: 40%;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: aqua;
    display: list-item;
    margin-top: 20px;
    align-items: flex-start;
}

#value{
    width: 40%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}
#value .h2{
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: coral;
}


